

/*https://img.freepik.com/fotos-premium/fondo-mazmorra-pixel-art-juegos-8-bits_334978-2383.jpg*/
/*https://media.istockphoto.com/id/1308121289/es/foto/terror%C3%ADficas-catacumbas-medievales-sin-fin-con-antorchas-concepto-de-pesadilla-m%C3%ADstica.webp?b=1&s=170667a&w=0&k=20&c=8EtEKCZJuOIC1tJsN5EMFqYb80MnqCAMAoMXvFr8KFc=*/
/*https://i.pinimg.com/564x/fd/3e/fc/fd3efcd071a4225be0be44104cf39af4.jpg*/
/*https://i.pinimg.com/564x/3a/75/a8/3a75a8af69e8973506463ab5bc3e518b.jpg*/

/*https://i.pinimg.com/564x/a4/75/a0/a475a0ae3ece54ce46d85c424e27250e.jpg*/
/*https://i.pinimg.com/564x/fd/3e/fc/fd3efcd071a4225be0be44104cf39af4.jpg*/
/*https://i.pinimg.com/564x/58/b5/68/58b56883a1eb078ea015947096b19d50.jpg*/
/*https://i.pinimg.com/564x/3a/75/a8/3a75a8af69e8973506463ab5bc3e518b.jpg*/
/*https://i.pinimg.com/564x/80/e2/50/80e25075488c89bf6624f167e46f9e97.jpg*/

.fondo{
  background: url("https://img.freepik.com/fotos-premium/fondo-mazmorra-pixel-art-juegos-8-bits_334978-2383.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}
a:hover {
  color: white;
}

.fondo-add{
  background: url("https://i.pinimg.com/564x/fd/3e/fc/fd3efcd071a4225be0be44104cf39af4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.add{
  display: flex;
  flex-direction: column;
  align-content:space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.formAdd{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  border: solid 2px rgb(123, 174, 247);
  background: #003058;
  color: whitesmoke;;
  gap: 1rem;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(88, 149, 235);
  width: 500px;
}


.inputAdd{
  padding: 5px;
  font-size: 1rem;
  width: 100%;
}

.error{
  color: red;
}

.submit{
  cursor: pointer;
  color: black;
  margin-top: 10px;
  background-color: rgb(176, 249, 117);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border: solid 2px rgb(162, 230, 106);/*rgb(141, 200, 92)*/
  box-shadow:5px 5px 5px rgb(176, 249, 117);
  transition: background-color 0.2s ease-in-out;
  &:hover {
    color: white;
    background-color: rgb(141, 200, 92);
  }

  &[disabled] {
    background-color: #ed8160;
    border: solid 2px #e6663f;
    box-shadow:5px 5px 5px #e6663f;
    color: #333;
    cursor: not-allowed;
  }
}

.inputBuscar{
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

.buscar{
  cursor: pointer;
  background-color: rgb(117, 172, 249);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border: solid 2px rgb(89, 133, 195);
  box-shadow:5px 5px 5px rgb(89, 133, 195);
  transition: background-color 0.2s ease-in-out;
  &:hover {
    color: white;
    background-color: rgb(77, 155, 203);
  }
}

.fondo-busqueda{
  background: url("https://i.pinimg.com/564x/58/b5/68/58b56883a1eb078ea015947096b19d50.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.busqueda{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.formBusqueda{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.layout {
  display: flex;
  flex-direction: row;
  background-color: #e180f4;
  align-self: center;
  justify-content: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 20px;
}

.heroImage{
  border-radius: 2px;
  height: 60%;
  width: 70%;
  align-self: center;
  margin: 0;
  padding: 10px;
}

.delete{
  background-color: #e73939;
  border: solid 2px rgb(219, 61, 61);
  box-shadow:2px 2px 2px rgb(219, 61, 61);
}

.heroe {
  background: #003058;
  color: whitesmoke;
  text-align: center;
  border: solid 2px rgb(63, 104, 194);
  box-shadow:2px 2px 2px rgb(63, 104, 194);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  padding: 2px;
  width: 350px;
}

.heroes{
  display: flex;
  justify-content: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
